<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{pagetitle}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css"/>
	<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/static/js/semantic.min.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
	<div id="header">Header</div>
<!-- </body> -->
<!-- </html> -->